html, body {
	width: 100%;
	position: relative;
	margin: 0px;
}

nav {
	height: 40px;
	background-color: #444;
	width: 100%;
	position: fixed;
	color: #ecf0f1;
}

nav.header {
	top: 0px;
}

nav.footer {
	bottom: 0px;
}

nav.footer a:link, nav.footer a:visited, nav.footer a:hover, nav.footer a:active {
    font-weight: normal;
}

nav ul li{
	display:inline-block;
	margin-right: 0.7em;
}

nav ul{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

nav .nav-containter {
	padding-top: 10px;
	padding-left: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: #ecf0f1;
    font-weight: bold;
}

.container {
	margin-top: 40px;
	padding: 10px;
}

.alert {
	margin-top: 40px;
	width: 100%;
	padding: 10px;
}

.alert-error {
	background-color: #f2dede;
}

.alert-success {
	background-color: #dff0d8;
}
